.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.green-tick {
  border: 1px solid green;
  border-radius: 100%;
  padding: 5px;
}
.red-tick {
  border: 1px solid red;
  border-radius: 100%;
  padding: 5px;
}
.green-tick:hover,
.red-tick:hover {
  cursor: pointer;
  background-color: lightgray;
}
